/* Reset default margin and padding */
body {
  padding: 0;
  background-color: #4e559e;
}
.container {
  width: 100%;
}

/* Chat container */
.chat-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* Chat header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/* Chat messages */
.chat-messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  height: 20rem;
  overflow-y: scroll;
  background-color: white;
}
.chat-messages > div {
  display: flex;
  margin: 30% 0 0 50%;
}
/* Chat message */
.chat-message {
  margin-bottom: 10px;
}

/* User message */
.user-message {
  background-color: #412ac4;
  color: white;
  margin-left: 7rem;

  text-align: right;
}

/* Chat bubble */
.chat-bubble {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  max-width: 60%;
  word-wrap: break-word;
}

/* Assistant message */
.assistant-message {
  text-align: left;
  background-color: #e8dede;
}

/* Input area */
.input-area {
  padding: 10px;
  background-color: #f2f2f2;
  min-width: 200px;
}

/* User input */
.user-input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
}

.sideBar {
  height: 32rem;

  display: flex;
  flex-direction: column;
  background-color: #191e5e;
  color: white;
  width: 30%;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}
.offcanvas {
  width: 70%;
}
